# dependencies
node_modules
.pnp
.pnp.js

# Next
.next
out

# misc
.DS_Store
*.pem
.env*.local
.vercel

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
next-env.d.ts
